<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{ localizedText('txt_SettingsPageTitle_'+current_language) }}</h1>
	  	<div class="buttons">
		    <button class="button button-stable bar-icon-right" ng-click="actionCloseSetting()">Close</button>
	    </div>
	</ion-header-bar>
	<ion-content>
	  	<div class="list list-inset">
			<div class="item item-divider">Language</div>
			<ion-item class="item item-icon-right" href="javascript:void();" ng-click="actionSetLanguage('mm')">
				Myanmar
				<i ng-if="current_language == 'mm'" class="icon ion-ios-checkmark-empty"></i>
			</ion-item>
			<ion-item class="item item-icon-right" href="javascript:void();" ng-click="actionSetLanguage('en')">
				English
				<i ng-if="current_language == 'en'" class="icon ion-ios-checkmark-empty"></i>
			</ion-item>

			<br />
			<div class="item item-divider">Support</div>
			<ion-item class="item item-icon-right" ng-click="actionOpenFacebookPage()">Facebook <i class="icon ion-social-facebook-outline adjust-item-right-icon-1"></i><i class="icon ion-chevron-right icon-accessory"></i></ion-item>
			<ion-item class="item item-icon-right" ng-click="actionOpenAppStorePage()">
			{{ screen_type == 'ios' ? 'Rate on App Store' : (platform == 'android') ? 'Rate on Play Store' : 'Rate this app'}}
			<i class="icon ion-ios-star-outline adjust-item-right-icon-2"></i><i class="icon ion-chevron-right icon-accessory"></i></ion-item>

			<div class="item item-divider">About</div>
			<div class="item">App Version <span class="item-note">{{app_version}}</span></div>
			<div class="item">DB Version <span class="item-note">{{localConfigs.get('CURRENT_DB_VERSION', '1')}}</div>

			<div style="padding:10px;">
				{{txt_about}}
			</div>
		</div>
	</ion-content>
</ion-modal-view>