<ion-modal-view>
	<ion-header-bar class="bar-dark">
		<h1 class="title setting-page-title">{{ localizedText('txt_SettingsPageTitle_'+current_language) }}</h1>
	  	<div class="buttons">
		    <button class="button button-stable bar-icon-right" ng-click="actionCloseSetting()">Close</button>
	    </div>
	</ion-header-bar>
	<ion-content has-bouncing="false">
	  	<div class="list list-inset">
			<div class="item item-divider">Language</div>
			<ion-item class="item item-icon-right" href="javascript:void();" ng-click="actionSetLanguage('mm')">
				Myanmar
				<i ng-if="current_language == 'mm'" class="icon ion-ios-checkmark-empty"></i>
			</ion-item>
			<ion-item class="item item-icon-right" href="javascript:void();" ng-click="actionSetLanguage('en')">
				English
				<i ng-if="current_language == 'en'" class="icon ion-ios-checkmark-empty"></i>
			</ion-item>
		</div>
		<div class="list list-inset">
			<div class="item item-divider">Support</div>
			<ion-item class="item item-icon-right" ng-click="actionOpenFacebookPage()">Facebook <i class="icon ion-social-facebook-outline adjust-item-right-icon-1"></i><i class="icon ion-chevron-right icon-accessory"></i></ion-item>
			<ion-item class="item item-icon-right" ng-click="actionOpenAppStorePage()">
			{{ platform == 'ios' ? 'Rate on App Store' : (platform == 'android') ? 'Rate on Play Store' : 'Rate this app'}}
			<i class="icon ion-ios-star-outline adjust-item-right-icon-2"></i><i class="icon ion-chevron-right icon-accessory"></i></ion-item>
		</div>
		<div class="list list-inset">
			<div class="item item-divider">About</div>
			<ion-item class="item">App version <span class="item-note">{{app_version}}</span></ion-item>
			<ion-item class="item">Database version <span class="item-note">{{db_version_code}}</ion-item>
			<ion-item class="item">Data last updated on <span class="item-note" >{{ db_release_time*1000 | date:'dd/MMM/yyyy'}}</ion-item>
		</div>
		<div class="list list-inset about-txt">
			{{txt_about}}
		</div>
	</ion-content>
</ion-modal-view>
