<ion-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button header-item icon ion-ios-arrow-back bar-icon-right" ng-click="actionGoBack()">&nbsp;Back</button>
        </div>
        <h1 class="title">{{ localizedText('txt_StationPageTitle_'+current_language) }}</h1>
        <div class="buttons">
            <button class="button icon ion-levels bar-icon-right" ng-click="actionOpenSetting()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="toparea" has-bouncing="false">
            <div class="name">{{ (current_language == 'en' && data.station.name_en) ? data.station.name_en : data.station.name_mm }}</div>
            <div class="desc"></div>
            <div class="tagline">{{ (current_language == 'en') ? 'Trains' : 'ေရာက္ရွိႏိုင္ေသာ ရထားမ်ားး' }}</div>
            <button class="button icon ion-map btn-map" ng-click="actionOpenMap('station', data.station)"></button>
    </ion-content>
    <ion-content class="below-toparea">
        <ion-list>
            <ion-item class="item-icon-right item-thumbnail-left adjust-list-item-2" collection-repeat="row in data.paths" type="item-text-wrap">
                <img ng-src="images/trains.imageset/train_60.png" class="left-thumbnail">
                <h2 class="row-1">
                    {{(current_language == 'en' && row.train.name_en) ? row.train.name_en : row.train.name_mm}}
                </h2>
                <p class="row-2">
                    <span ng-if="row.arrival_time">
                        {{ (current_language == 'en') ? 'arrive at ' : '၀င္ခ်ိန္'; }} - 
                        <b>{{convertTime24to12(row.arrival_time)}}</b>
                    </span>
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
