<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Route" icon-off="icon-route-off" icon-on="icon-route-on" href="#/yangontrains/routes">
    <ion-nav-view name="view-routes" class="content-main"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Trains" icon-off="icon-train-off" icon-on="icon-train-on" href="#/yangontrains/trains">
    <ion-nav-view name="view-trains" class="content-main"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Stations" icon-off="icon-station-off" icon-on="icon-station-on" href="#/yangontrains/stations">
    <ion-nav-view name="view-stations" class="content-main"></ion-nav-view>
  </ion-tab>

</ion-tabs>
